<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
</head>
<body>
    <h1>URL Shortener</h1>
    {% if current_user.is_authenticated %}
        <h2>Hi {{current_user.username}}!</h2>
    
    {% else %}
        <button><a href="{{url_for('register')}}">Register?</a></button>
        <button><a href="{{url_for('login')}}">Login?</a></button>
    {% endif %}

    <form method="POST" action="{{url_for('index')}}">
        <input type="text" name="long_url" placeholder="Enter long URL">
        <button type="submit"> Generate Short URL</button>
    </form>

    {% if shortened_url %}
        <p>Shortened URL: <a href="{{shortened_url}}">{{shortened_url}}</a></p>
    {% endif %}

    {% if current_user.is_authenticated %}
        <a href="{{url_for('mapping')}}">View history</a>
        <a href="{{url_for('logout')}}">Logout?</a>
    {% endif %}

</body>
</html>